
*.db
*.jar
2018-01-excel/~$presentation.pptx
2018-01-excel/~$workshopFeedback.xlsx
2019-nn-mock-election/resources/~$llingStationCards.docx
2019-nn-mock-election/mockVoteCounter/StartMockVoteCounter.bat
2019-nn-mock-election/mockVoteCounter/votes.csv
